<!-- login form -->
<div class="container" *ngIf="isLoginForm">
    <div class="login-form">
    <h6 *ngIf="signedUp">Sign Up successfull</h6>
      <form (ngSubmit)="login()">
        <input type="text" placeholder="Username" [(ngModel)]="username" name="username" class="login-input" required>
        <input type="password" placeholder="Password" [(ngModel)]="password" name="password" class="login-input" required>
        <button type="submit" class="login-button">Login</button>
      </form>
      <p>Don't have an accoutn? <span class="sign-up" (click)="toggleForm('login')">Sign Up</span></p>
      <p *ngIf="loginError" class="error-message">User does not exist or login failed.</p>
    </div>
  </div>


  <!-- signup form -->

<div class="container" *ngIf="!isLoginForm">
    <div class="login-form">
      <form #signupForm="ngForm" (ngSubmit)="onSignup(signupForm)">
        <input type="text" name="username" ngModel required placeholder="Username" class="login-input">
        <input type="text" name="name" ngModel required placeholder="Name" class="login-input">
        <input type="email" name="email" ngModel required email placeholder="Email" class="login-input">
        <input type="password" name="password" ngModel required minlength="6" placeholder="Password" class="login-input">
        <button type="submit" class="login-button">Sign Up</button>
      </form>
      <p *ngIf="signupError" class="error-message">{{ signupError }}</p>
    </div>
  </div>
  