<mat-toolbar class="toolbar">
    <h5 class="company-name">Super Mart</h5>
    <div class="header-section">
    <div>
    <span routerLink="/home">Home</span>
    <span>
        <select id="selectOption" (change)="filterProducts($event)">
            <option value="" disabled selected hidden>Categories</option>
            <option value="men's clothing">Men's Clothing</option>
            <option value="electronics">Electronics</option>
            <option value="women's clothing">Women's Clothing</option>
            <option value="jewelery">Jewelry</option>
          </select>
    </span>
    <span routerLink="/about">About</span>
    <span routerLink="/contact">Contact</span>
</div>
<div>
    <span class="search-wrapper">
    <mat-icon>search</mat-icon>
        <input type="text" placeholder="Search" [(ngModel)]="searchTerm" (keyup)="search()">
    </span>
    <span routerLink="/cart"><mat-icon>shopping_cart</mat-icon><span class="item-count"></span></span>
    <span > 
       
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>account_circle</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button routerLink="/login" (click)="logout()" mat-menu-item>
              <span>Log out</span>
            </button>
          </mat-menu>
    </span>
</div>
</div>
  </mat-toolbar>
