.company-name{
margin-right: 12rem;
color: cornflowerblue;
font-size: larger;
}

span{
    padding-right: 1.5rem;
}

.header-section{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.search-wrapper {
    display: inline-flex; 
    align-items: center; 
    position: relative; 
  }
  
  .search-wrapper mat-icon {
    position: absolute; 
    left: 10px; 
    pointer-events: none;
  }
  
  .search-wrapper input {
    padding-left: 30px; 
    width: 100%; 
    box-sizing: border-box; 
      
}

input{
    height: 30px;
    border: 1px solid rgb(229, 229, 229);
}

  select{
    width: 130px;
    height: 26px;
    font-family: roboto;
    font-size: 22px;
    border: none;
  }

  span:hover{
    cursor: pointer;
  }

  .toolbar{
    border-bottom: 5px solid white;
  }
  
  .item-count{
    color: cornflowerblue;
    font-size: small;
  }